<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zj.webkit">

    <application>

        <service
            android:name="com.zj.webkit.nimbus.client.ClientService"
            android:exported="true"
            android:permission="true">
            <intent-filter>
                <action android:name="com.zj.web.client" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name="com.zj.webkit.nimbus.web.WebViewService"
            android:enabled="true"
            android:exported="true"
            android:permission="true"
            android:process=":web">
            <intent-filter>
                <action android:name="com.zj.web.service" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

    </application>

</manifest>